{% if download.download_url %}
  <a href="{{ download.download_url }}" class="github-component position-relative hover-grow height-full no-underline d-flex flex-column flex-justify-center text-center border border-gray-light rounded-1 bg-white p-5">
    {% if download.image_url %}
      <img src="{{ download.image_url }}" width="64" height="64" class="mx-auto rounded-1 mb-3" alt="{{ download.name }}">
    {% else %}
      <div
        class="bg-blue-light f4 text-gray-light text-bold rounded-1 flex-shrink-0 text-center mx-auto mb-3"
        style="width:64px; height:64px; line-height:64px;"
      >
        #
      </div>
    {% endif %}
    <p class="f3 lh-condensed text-center link-gray-dark mb-0 mt-1">{{ download.name }}</p>
    {% if download.description %}
      <p class="f5 text-gray text-center mb-0 mt-1">{{ download.description }}</p>
    {% endif %}
  </a>
{% endif %}
